language: python
before_install:
- pip install codecov pypandoc
install:
- pip install -q coverage
- pip install -r requirements.txt
addons:
  apt_packages:
    - pandoc
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/1732ae62130d81fe54d8
    on_success: always
    on_failure: always
    on_start: always
env:
- PY_36=1 NOPANDAS=0
- PY_36=0 NOPANDAS=1
- PY_36=0 NOPANDAS=0
python:
- 2.7.13
- '3.5'
- '3.6'
- pypy
matrix:
  exclude:
  - python: pypy
    env: PY_36=1 NOPANDAS=0
  - python: pypy
    env: PY_36=0 NOPANDAS=0
  - python: 2.7.13
    env: PY_36=1 NOPANDAS=0
  - python: 2.7.13
    env: PY_36=0 NOPANDAS=1
  - python: '3.5'
    env: PY_36=1 NOPANDAS=0
  - python: '3.5'
    env: PY_36=0 NOPANDAS=1
  - python: '3.6'
    env: PY_36=0 NOPANDAS=1
  - python: '3.6'
    env: PY_36=0 NOPANDAS=0
script: "./travis.sh"
after_success:
- codecov
cache: pip
deploy:
  provider: pypi
  user: prodriguez
  password:
    secure: WOyXID09Jaha9OT8v7fV0h3B1LjqoCkS93KO6JUSTPWhCX0PYfNHNQURG/ma3fYr/K+kzQ4S+5ZjGIeEar1ESr3ufVFbwmhmG9058V5rl+GAEsDa88DFOb2Ne1Dk+9uXF1RtLMVlYZFfWok39JzBa70PRuJsflxmDtaRx+wyevw=
  on:
    tags: true
  distributions: "sdist bdist_wheel"
  skip_existing: true
