[tool.poetry]
name = "PyFunctional"
version = "1.4.0"
description = "Package for creating data pipelines with chain functional programming"
authors = ["Pedro Rodriguez <me@pedro.ai>"]
license = "MIT"
packages = [
    { include = "functional" }
]

[tool.poetry.dependencies]
python = "^3.6,>=3.6.1"
dill = "^0.3.2"
tabulate = "<=1.0.0"
pandas = {version = "^1.0.3", extras = ["all"]}

[tool.poetry.dev-dependencies]
pypandoc = "^1.5"
black = "^19.10b0"
pytest = "^5.4.1"
pylint = "^2.4.4"
pytest-cov = "^2.8.1"
codecov = "^2.0.22"
coverage = "<5.0.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
