<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>ScalaFunctional by EntilZha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.path }}stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">ScalaFunctional</h1>
      <h2 class="project-tagline">Python library for functional programming with collections in a data pipeline style</h2>
      <a href="https://github.com/EntilZha/ScalaFunctional" class="btn">View on GitHub</a>
      <a href="https://github.com/EntilZha/ScalaFunctional/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/EntilZha/ScalaFunctional/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      {{ content }}
    </section>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-69620309-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
